<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="/static/index.css" rel="stylesheet" /> -->

    <title>Recycle Cloud Letter</title>
  </head>

  <body>
    <h1>Hello every nyan</h1>

    <article>
      <p>TODO: the letter</p>
    </article>

    {{if .DidSubmit}}
      {{if .SubmitSuccess}}
        Thanks.
      {{else}}
        Invalid email format, sorry.
      {{end}}
    {{else}}
      <form method="post">
        <input type="email" name="email" required />
        <button type="submit">
          Submit
        </button>
      </form>
    {{end}}
  </body>
</html>
