<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/index.css" rel="stylesheet" />

    <title>Lewis&apos; portfolio site</title>
  </head>
  <style>
    .emoji {
      position: absolute;
      font-size: 24px;
    }
  </style>
  <script type="text/javascript">
    /**
     * Helper functions first
     */
    const emojiMap = {
      happy: "😊",
      upsideDown: "🙃",
      crazy: "🤪",
      nerd: "🤓",
      mindBlown: "🤯",
      sleeping: "😴",
      poop: "💩",
      ghost: "👻",
      alien: "👽",
      robot: "🤖",
      alienMonster: "👾",
      openHands: "👐",
      vulcanSalute: "🖖",
      victory: "✌️",
      loveYouGesture: "🤟",
      horns: "🤘",
      callMe: "🤙",
      wavingHand: "👋",
      mouse: "🐭",
      sauropod: "🦕",
      tRex: "🦖",
      question: "❓",
    };

    const allUserCursors = {};

    // Function to add objects to the set based on a unique key
    function addCursorToSet(key, obj) {
      if (!allUserCursors[key]) {
        allUserCursors[key] = obj;
      } else {
        // Replace the existing object with the new one
        allUserCursors[key] = obj;
      }
    }

    function generateRandomEmojiKey() {
      const keys = Object.keys(emojiMap);
      const randomKey = keys[Math.floor(Math.random() * keys.length)];
      return randomKey;
    }

    function generateUUID() {
      // Public Domain/MIT
      var d = new Date().getTime(); //Timestamp
      var d2 =
        (typeof performance !== "undefined" &&
          performance.now &&
          performance.now() * 1000) ||
        0; //Time in microseconds since page-load or 0 if unsupported
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function (c) {
          var r = Math.random() * 16; //random number between 0 and 16
          if (d > 0) {
            //Use timestamp until depleted
            r = (d + r) % 16 | 0;
            d = Math.floor(d / 16);
          } else {
            //Use microseconds since page-load if supported
            r = (d2 + r) % 16 | 0;
            d2 = Math.floor(d2 / 16);
          }
          return (c === "x" ? r : (r & 0x3) | 0x8).toString(16);
        },
      );
    }

    function drawEmojiAtCoordinates(x, y, emoji, uniqueKey) {
      const emojiContainer = document.getElementById("emojiContainer");

      // Check if the div with the uniqueKey exists and remove it
      const existingEmoji = document.getElementById(uniqueKey);
      if (existingEmoji) {
        emojiContainer.removeChild(existingEmoji);
      }

      // Create a new div with the uniqueKey as ID and fill it with the emoji
      const emojiElement = document.createElement("div");
      emojiElement.textContent = emoji;
      emojiElement.classList.add("emoji");
      emojiElement.id = uniqueKey;
      emojiElement.style.left = `${x}%`;
      emojiElement.style.top = `${y}%`;
      emojiContainer.appendChild(emojiElement);
    }

    /**
     * Now the functions running after the page loaded
     */
    window.addEventListener("load", function () {
      console.log("TESTING MY CI AUTO DEPLOY 2");
      // create websocket instance
      const wsProtocol = window.location.protocol == "https:" ? "wss:" : "ws:";
      const mySocket = new WebSocket(
        wsProtocol +
          "//" +
          window.location.hostname +
          ":" +
          window.location.port +
          "/ws",
      );
      const myUserCursorData = {
        x: 0,
        y: 0,
        emoji: generateRandomEmojiKey(),
        client_generated_id: generateUUID(),
      };

      const sharedCounterOutput = document.getElementById(
        "shared-counter-output",
      );

      // add event listener to react when messages are received
      mySocket.onmessage = function (event) {
        parsedOutput = JSON.parse(event.data);

        if (parsedOutput.cursor_event) {
          let emoji = emojiMap[parsedOutput.cursor_event.emoji];
          addCursorToSet(
            parsedOutput.cursor_event.client_generated_id,
            parsedOutput.cursor_event,
          );

          // don't draw our own cursor
          if (
            parsedOutput.cursor_event.client_generated_id !=
            myUserCursorData.client_generated_id
          ) {
            drawEmojiAtCoordinates(
              parsedOutput.cursor_event.x,
              parsedOutput.cursor_event.y,
              emoji,
              parsedOutput.cursor_event.client_generated_id,
            );
          }
        }
        if (parsedOutput.counter) {
          sharedCounterOutput.textContent = parsedOutput.counter;
        }
      };

      // send our cursor location to server every time it moves
      function onCursorMove(e) {
        myUserCursorData.x = parseInt((e.pageX / window.innerWidth) * 100);
        myUserCursorData.y = parseInt((e.pageY / window.innerHeight) * 100);

        mySocket.send(
          JSON.stringify({
            object_name: "my_user_cursor",
            new_state_serial: JSON.stringify(myUserCursorData),
          }),
        );
      }
      document.addEventListener("mousemove", onCursorMove);

      // react when the user changes the emoji they want to be
      const emojiDropdown = document.getElementById("emojiDropdown");
      emojiDropdown.value = myUserCursorData.emoji;
      function handleEmojiSelection() {
        const selectedEmoji = emojiDropdown.value;
        myUserCursorData.emoji = selectedEmoji;
      }
      emojiDropdown.onchange = handleEmojiSelection;

      // bottom of page dumb counter button +1
      const counterPlusOneButton = document.querySelector("#counter_plus_one");
      function onCounterPlusOneClick() {
        sharedCounterOutput.textContent =
          Number(sharedCounterOutput.textContent) + 1;
        mySocket.send(
          JSON.stringify({
            object_name: "shared_counter",
            new_state_serial: "counter_plus_one",
          }),
        );
      }
      counterPlusOneButton.onclick = onCounterPlusOneClick;

      // bottom of page dumb counter button -1
      const counterMinusOneButton =
        document.querySelector("#counter_minus_one");
      function onCounterMinusOneClick() {
        sharedCounterOutput.textContent =
          Number(sharedCounterOutput.textContent) - 1;
        mySocket.send(
          JSON.stringify({
            object_name: "shared_counter",
            new_state_serial: "counter_minus_one",
          }),
        );
      }
      counterMinusOneButton.onclick = onCounterMinusOneClick;
    });
  </script>

  <body
    class="bg-stone-100 dark:bg-black dark:text-white font-helvetica dark:font-light m-0"
  >
    <div id="emojiContainer"></div>
    <main class="overflow-hidden mx-auto p-8 max-w-2xl">
      <img
        class="rounded-full m-0 w-40 h-40"
        src="/static/lewis-headshot.png"
        alt="A headshot of Lewis"
        aria-hidden="true"
      />

      <article>
        <h1 class="text-6xl m-0">Lewis Torrington</h1>

        <p class="dark:text-gray-400 text-lg mt-5" aria-hidden="true">
          Hello, my name is Lewis and this is my page. In this iteration of my
          site, I&apos;m messing around with websockets.
          <br />
          There may be other people looking at this page at the same time as
          you!
          <br />
          To them, your cursor shows up as a
          <select id="emojiDropdown">
            <option value="happy">😊</option>
            <option value="upsideDown">🙃</option>
            <option value="crazy">🤪</option>
            <option value="nerd">🤓</option>
            <option value="mindBlown">🤯</option>
            <option value="sleeping">😴</option>
            <option value="poop">💩</option>
            <option value="ghost">👻</option>
            <option value="alien">👽</option>
            <option value="robot">🤖</option>
            <option value="alienMonster">👾</option>
            <option value="openHands">👐</option>
            <option value="vulcanSalute">🖖</option>
            <option value="victory">✌️</option>
            <option value="loveYouGesture">🤟</option>
            <option value="horns">🤘</option>
            <option value="callMe">🤙</option>
            <option value="wavingHand">👋</option>
            <option value="mouse">🐭</option>
            <option value="sauropod">🦕</option>
            <option value="tRex">🦖</option>
            <option value="question">❓</option>
          </select>
          emoji.
        </p>

        <br /><br />

        <h2 class="text-3xl">About me</h2>
        <br />
        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <ul class="list-none">
            <li>From Australia; living in Finland since 2019.</li>
            <li>
              Working as a Software Engineer at&nbsp;
              <a
                class="underline"
                href="https://www.upcloud.com/"
                target="_blank"
                >UpCloud</a
              >.
            </li>
            <li>Specialties: data engineering, full-stack development.</li>
          </ul>
          For more of a pitch about me, check out my CV.
        </div>
        <br />

        <a
          class="dark:text-gray-300 hover:underline"
          href="/static/CV-Lewis-Torrington-2024-Sanitised.pdf"
          target="_blank"
        >
          My CV ↗
        </a>
        <br />
        <a
          class="dark:text-gray-300 hover:underline"
          href="https://www.linkedin.com/in/lewis-torrington/"
          target="_blank"
        >
          My LinkedIn ↗
        </a>
        <br />
        <a
          class="dark:text-gray-300 hover:underline"
          href="https://github.com/lu1a"
          target="_blank"
        >
          My GitHub ↗
        </a>

        <br /><br />

        <h2 class="text-3xl">Some projects</h2>
        <br />
        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <p class="m-0">
            <a
              class="underline"
              href="https://github.com/lu1a/cosmas-api"
              target="_blank"
            >
              COSMAS
            </a>
            <br />
            An API in Rust to allow for an automated social peer-to-peer sharing
            system.
            <br />
            Designed for my future farm in mind. 🧑‍🌾🌾
          </p>
        </div>
        <br />

        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <p class="m-0">
            <a
              class="underline"
              href="https://github.com/lu1a/kasu"
              target="_blank"
            >
              KASU
            </a>
            <br />
            A little script for installing Kubernetes on a blank Ubuntu machine!
            <br />
            Either for becoming a control plane or worker node.
          </p>
        </div>
        <br />

        <p class="m-0 dark:text-gray-400 text-lg">
          <i
            >...and more! Though not that much more that I wanna show publicly.
            Check out my GitHub anyhow if you&apos;re interested.</i
          >
        </p>

        <br /><br />

        <h2 class="text-3xl">Websites I think are neat</h2>
        <br />
        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <a
            class="hover:underline"
            href="https://signalvnoise.com/posts/1430-hire-managers-of-one"
            target="_blank"
          >
            Hire managers of one ↗
          </a>
          <br />
          <a
            class="hover:underline"
            href="https://grugbrain.dev"
            target="_blank"
          >
            The Grug Brained Developer ↗
          </a>
          <br />
          <a
            class="hover:underline"
            href="https://github.com/signalapp/libsignal"
            target="_blank"
          >
            <i>libsignal</i> source code ↗
          </a>
          <br />
          <a class="hover:underline" href="https://once.com" target="_blank">
            Once ↗
          </a>
        </div>

        <br /><br />

        <h2 class="text-3xl">Data</h2>
        <br />
        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <p class="m-0">
            This site was written from scratch by me.<br />You can find
            the&nbsp;
            <a
              class="underline"
              href="https://github.com/lu1a/portfolio-site"
              target="_blank"
            >
              source code
            </a>
            &nbsp;on my GitHub.<br />As you&apos;ll be able to see there, I have
            no code for cookies or trackers - though I do log my visitors to a
            TimeScale instance for fun. The only fruitful thing that&apos;s
            gotten me so far is the knowledge of how many US-based bots there
            are out there.
          </p>
        </div>

        <br /><br />

        <div>
          <p class="m-0 dark:text-gray-400 text-lg">
            Click the buttons! Or watch others on this same page click them in
            real time.
          </p>
          <button
            class="bg-blue-500 text-blue-100 dark:bg-blue-700 dark:text-blue-300 px-4 rounded-md font-semibold"
            id="counter_plus_one"
          >
            +1
          </button>
          <button
            class="bg-blue-500 text-blue-100 dark:bg-blue-700 dark:text-blue-300 px-4 rounded-md font-semibold"
            id="counter_minus_one"
          >
            -1
          </button>
          <div id="shared-counter-output">{{ initial_counter }}</div>
        </div>

        <div class="flex justify-center mt-24">
          <a href="https://www.linkedin.com/in/lewis-torrington/">
            <button
              class="bg-blue-500 text-blue-100 dark:bg-blue-700 dark:text-blue-300 w-52 h-16 rounded-md font-semibold text-2xl font-sans"
            >
              <span>Get in touch</span>
            </button>
          </a>
        </div>
      </article>
    </main>
  </body>
</html>
