<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/index.css" rel="stylesheet" />

    <title>Lewis' portfolio site</title>
  </head>

  <body
    class="bg-stone-100 dark:bg-black dark:text-white font-helvetica dark:font-light m-0"
  >
    <main class="overflow-hidden mx-auto p-8 max-w-2xl">
      <img
        class="rounded-full m-0 w-40 h-40"
        src="/static/lewis-headshot.png"
        alt="A headshot of Lewis"
        aria-hidden="true"
      />

      <article>
        <h1 class="text-6xl m-0">Lewis Torrington</h1>

        <p class="sr-only">
          Hello, my name is Lewis and this is my page. There's a picture of me
          shown -&nbsp; a portrait headshot of my plucky, pasty-white self
          standing in front of a snowy background.
        </p>

        <p class="dark:text-gray-400 text-lg mt-5" aria-hidden="true">
          Hello, my name is Lewis and this is my page. In this iteration of my
          site, I&apos;m focusing on accessibility and utilitarianism.
        </p>

        <br /><br />

        <h2 class="text-3xl">About me</h2>
        <br />
        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <ul class="list-none">
            <li>From Australia; living in Finland since 2019.</li>
            <li>
              Working as a Software Engineer at&nbsp;
              <a
                class="underline"
                href="https://www.upcloud.com/"
                target="_blank"
                >UpCloud</a
              >.
            </li>
            <li>
              Specialties: data engineering, full-stack development.
            </li>
          </ul>
          For more of a pitch about me, check out my CV.
        </div>
        <br />

        <a
          class="dark:text-gray-300 hover:underline"
          href="/static/CV-Lewis-Torrington-2024-Sanitised.pdf"
          target="_blank"
        >
          My CV ↗
        </a>
        <br />
        <a
          class="dark:text-gray-300 hover:underline"
          href="https://www.linkedin.com/in/lewis-torrington/"
          target="_blank"
        >
          My LinkedIn ↗
        </a>
        <br />
        <a
          class="dark:text-gray-300 hover:underline"
          href="https://github.com/lu1a"
          target="_blank"
        >
          My GitHub ↗
        </a>

        <br /><br />

        <h2 class="text-3xl">Some projects</h2>
        <br />
        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <p class="m-0">
            <a
              class="underline"
              href="https://github.com/lu1a/cosmas-api"
              target="_blank"
            >
              COSMAS
            </a>
            <br />
            An API in Rust to allow for an automated social peer-to-peer sharing
            system.
            <br />
            Designed for my future farm in mind. 🧑‍🌾🌾
          </p>
        </div>
        <br />

        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <p class="m-0">
            <a
              class="underline"
              href="https://github.com/lu1a/kasu"
              target="_blank"
            >
              KASU
            </a>
            <br />
            A little script for installing Kubernetes on a blank Ubuntu machine!
            <br />
            Either for becoming a control plane or worker node.
          </p>
        </div>
        <br />

        <p class="m-0 dark:text-gray-400 text-lg">
          <i
            >...and more! Though not that much more that I wanna show publicly.
            Check out my GitHub anyhow if you&apos;re interested.</i
          >
        </p>

        <br /><br />

        <h2 class="text-3xl">Websites I think are neat</h2>
        <br />
        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <a
            class="hover:underline"
            href="https://signalvnoise.com/posts/1430-hire-managers-of-one"
            target="_blank"
          >
            Hire managers of one ↗
          </a>
          <br />
          <a
            class="hover:underline"
            href="https://grugbrain.dev"
            target="_blank"
          >
            The Grug Brained Developer ↗
          </a>
          <br />
          <a
            class="hover:underline"
            href="https://github.com/signalapp/libsignal"
            target="_blank"
          >
            <i>libsignal</i> source code ↗
          </a>
          <br />
          <a
            class="hover:underline"
            href="https://once.com"
            target="_blank"
          >
            Once ↗
          </a>
        </div>

        <br /><br />

        <h2 class="text-3xl">Data</h2>
        <br />
        <div
          class="dark:bg-gray-800 dark:border-gray-800 dark:rounded-xl dark:p-4"
        >
          <p class="m-0">
            This site was written from scratch by me.<br />You can find
            the&nbsp;
            <a
              class="underline"
              href="https://github.com/lu1a/portfolio-site"
              target="_blank"
            >
              source code
            </a>
            &nbsp;on my GitHub.<br />As you&apos;ll be able to see there, I have
            no code for cookies or trackers - though I do log my visitors to
            a TimeScale instance for fun. The only fruitful thing that&apos;s
            gotten me so far is the knowledge of how many US-based bots there
            are out there.
          </p>
        </div>

        <br />

        <a class="dark:text-gray-300 hover:underline" href="/stats"
          >See some stats on everyone who's visited ↗</a
        >

        <div class="flex justify-center mt-24">
          <a href="https://www.linkedin.com/in/lewis-torrington/">
            <button
              class="bg-blue-500 text-blue-100 dark:bg-blue-700 dark:text-blue-300 w-52 h-16 rounded-md font-semibold text-2xl font-sans"
            >
              <span>Get in touch</span>
            </button>
          </a>
        </div>
      </article>
    </main>
  </body>
</html>
